
<!-- <mat-list>
  <mat-list-item *ngFor="let emp of employee">
    <div mat-line>{{emp.name}}</div>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list> -->

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Employee List</h3>
            <button (click)="logOut()" class="btn btn-danger float-right">Logout</button>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>user_type</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let emp of employee; let i = index">
                <td>{{i+1}}</td>
                <td>{{emp.emp_name}}</td>
                <td>{{emp.email}}</td>
                <td>{{emp.er_cnct_no ? emp.er_cnct_no : 'N/A'}}</td>
                <td>{{emp.user_type == 'A' ? 'Admin' : emp.user_type == 'I' ? 'Incident Commander' : emp.user_type == 'U' ? 'User' : ''}}</td>
              </tr>
            </tbody>
              <tfoot>
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>user_type</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>

